/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

  body {
    line-height: 1; }

  ol, ul {
    list-style: none;
    line-height: 30px; }

  blockquote, q {
    quotes: none; }

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none; }

  table {
    border-collapse: collapse;
    border-spacing: 0; }

  html, body {
    height: 100%; }

/* #My Shit
================================================== */
  hr {
    background: linear-gradient(to left, #FBAA9C, #F3FFAc, #4C9EAF);
    border: none;
    height: 2px;
  }

  html {
    background-color: #ffffff;
    color: #2C2C2C;
    font-family: "Helvetica",sans-serif;
    font-size: calc(8px + .5vw);
    font-style: normal;
    font-weight: normal;
    line-height:150%;
    margin: 0 auto;
    max-width: 1024px;
  }

  p{
    font-family: "Helvetica", sans-serif;
  }

  main{
    padding-top: 130px;
  }

  nav {
    background-color:#ffffff;
    top: 0;
    position: fixed;
    width: 1024px;
    z-index: 1;
  }

  #nav_container {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
  }

  footer{
    padding-top: 24px;
    text-align:right;
  }

  a{
   color: #2C2C2C;
   outline: 0;
   text-decoration: none;
  }

  a:hover, a:focus{
    color: #FBB5AB;
  }

  #nav_container .left {
    align-self: flex-end;
    line-height:150%;
    text-transform: uppercase;
  }

  #nav_container .left a {
    font-size: 14px;
    padding-right: 64px;
  }

  #nav_container .left a.selected {
    font-weight: bold;
  }

  #nav_container .right{
    align-self: stretch;
    font-family: "Helvetica",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height:150%;
    text-align: right;
    ;
  }

  #myself{
    text-align: center;
  }

  #hello{
    color: #2C2C2C;
    font-family: "Dosis", sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 150%;
  }

  #hello .highlight{
    color: #4097AA;
    font-weight: bold;
  }

  .intro {
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    padding-bottom: 50px;
  }

  .card{
    display: flex;
    height: 32%;
    padding-top: 50px;
  }

  .odd {
    flex-direction: row-reverse;
  }

  .card_co .highlight {
    font-weight: bold;
  }

  .card_description{
    padding-left: 3%;
    width: 35%;
  }
  .odd .card_description{
    padding-left: 0%;
    padding-right: 3%;
    width: 35%;
  }

  .card_picture{
    width: 65%;
    text-align: center;
  }

  .card_headline{
    color: #2C2C2C;
    font-family: "Helvetica", sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 100%;
  }

  .separator {
    padding-bottom: 15px;
    border-bottom: thin solid #BDBDBD;
    width: 30%;
  }

  .card_co{
   font-family: "Helvetica", sans-serif;
   font-weight: normal;
   font-size: 14px;
   line-height: 300%;
   color: #2C2C2C;
  }

  .card_date{
    color: #2C2C2C;
    font-family: "Helvetica", sans-serif;
    line-height: 150%;
    font-size: calc(15px + 0.5);
    font-weight: normal;
  }

  .description{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 0;
  }

  #the_end{
    font-size: 14px;
    padding: 5px 0 15px 0;
    text-align: center;
  }

  #portrait {
    width: 20%;
  }

  img{
    max-width:100%;
  }

  #aboutme {
    font-size: 14px;
    font-family: 'Dosis';
    line-height: 16px;
  }

  #aboutme p{
    padding: 8px 0;
  }

  /*Zoom In*/
  .zoom_in {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
  }
  .zoom_in img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .zoom_in:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  /* Small screens */
  @media only screen and (max-width: 1044px) {
    html {
      margin: 0 10px;
    }
    nav {
      width: calc(100% - 20px);
    }
  }

  @media only screen and (max-width: 768px) {
    #nav_container {
      padding-top: 10px;
    }

    #nav_container .left a {
      padding-right: 12px;
    }

    main {
      padding-top: 100px;
    }

    .intro {
      padding-bottom: 24px;
    }
    .card {
      display: block;
      padding: 16px 0;
    }

    .odd {
      flex-direction: row;
    }

    .card_description{
      padding-left: 0%;
      padding-top: 2%;
      padding-bottom: 2%;
      width: 100%;
    }

    .odd .card_description {
      padding-left: 0%;
      padding-top: 2%;
      padding-bottom: 2%;
      width: 100%;
    }

    .card_picture{
      width: 100%;
    }

    footer {
      padding-top: 0;
    }
  }
